CREATE DATABASE WebShopHocTap
go
USE [WebShopHocTap]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 04/19/2021 23:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Alias] [nvarchar](50) NULL,
	[ParentID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Order] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([ID], [Name], [Alias], [ParentID], [CreateDate], [Order], [Status]) VALUES (1, N'Điện máy', N'May LapTop', 0, CAST(0x0000ACF300000000 AS DateTime), 1, 1)
INSERT [dbo].[Category] ([ID], [Name], [Alias], [ParentID], [CreateDate], [Order], [Status]) VALUES (2, N'Điện thoại', N'Dien thoai', 1, CAST(0x0000ACF300000000 AS DateTime), 2, 1)
INSERT [dbo].[Category] ([ID], [Name], [Alias], [ParentID], [CreateDate], [Order], [Status]) VALUES (3, N'Máy tính', N'hang my pham', 1, CAST(0x0000AB7300000000 AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[Account]    Script Date: 04/19/2021 23:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [varchar](20) NOT NULL,
	[PassWord] [varchar](20) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([UserName], [PassWord]) VALUES (N'admin', N'admin')
/****** Object:  StoredProcedure [dbo].[PSP_Category_Select]    Script Date: 04/19/2021 23:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PSP_Category_Select]
@ID INT =0
AS
IF @ID=0
BEGIN
    SELECT ID, Name, Alias, ParentID, CreateDate, [Order], [Status]
FROM dbo.Category
ORDER BY [Status]
END
ELSE
BEGIN
    SELECT ID, Name, Alias, ParentID, CreateDate, [Order], [Status]
FROM dbo.Category WHERE ID=@ID
ORDER BY [Status]
END
GO
/****** Object:  StoredProcedure [dbo].[PSP_Category_InsertUpdate]    Script Date: 04/19/2021 23:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PSP_Category_InsertUpdate]
@ID int, 
@Name NVARCHAR(100), 
@Alias VARCHAR (100), 
@ParentID int, 
@CreateDate DATETIME, 
@Order int, 
@Status BIT
AS 
IF EXISTS (SELECT 1 FROM dbo.Category WHERE ID=@ID)
BEGIN
    UPDATE dbo.Category
    SET Name=@Name,Alias=@Alias,ParentID=@ParentID,CreateDate=@CreateDate,[Order]=@Order,[Status]=@Status
    WHERE id=@ID
END
ELSE
BEGIN
    INSERT INTO Category( Name, Alias, ParentID, CreateDate, [Order], [Status])
    VALUES( @Name, @Alias, @ParentID, @CreateDate, @Order, @Status)
END
GO
/****** Object:  StoredProcedure [dbo].[PSP_Category_Delete]    Script Date: 04/19/2021 23:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PSP_Category_Delete]
@ID INT
AS
UPDATE dbo.Category
SET Status=0
WHERE ID=@ID
GO
/****** Object:  Table [dbo].[Product]    Script Date: 04/19/2021 23:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Alias] [varchar](500) NULL,
	[CategoryID] [int] NULL,
	[Images] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[Price] [decimal](18, 0) NULL,
	[Detail] [ntext] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([ID], [Name], [Alias], [CategoryID], [Images], [CreateDate], [Price], [Detail], [Status]) VALUES (1, N'Máy giặt 9kg Aqua', N'May giat 9kg Aqua', 1, N'MaygiatAqua.jpg', CAST(0x0000ACF900000000 AS DateTime), CAST(9000000 AS Decimal(18, 0)), N'Khối lượng giặt 8.5 kg dành cho những gia đình có 3 - 5 thành viên. Máy vận hành êm ái với động cơ truyền động trực tiếp Tiết kiệm diện tích, dễ dàng lấy quần áo, chăn mền lớn với lồng giặt 525 mm. Diệt khuẩn, làm mềm quần áo với công nghệ giặt nước nóng', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  StoredProcedure [dbo].[SP_Account_Login]    Script Date: 04/19/2021 23:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Account_Login]
    @UserName VARCHAR(20) ,
    @PassWord VARCHAR(20)
AS
    BEGIN
        DECLARE @count INT;
        DECLARE @res BIT;
        SELECT  @count = COUNT(*)
        FROM    dbo.Account
        WHERE   UserName = @UserName
                AND PassWord = @PassWord;
        IF @count > 0
            SET @res = 1;
        ELSE
            SET @res = 0;
        SELECT  @res;	
    END;
GO
/****** Object:  StoredProcedure [dbo].[PSP_Product_Select]    Script Date: 04/19/2021 23:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PSP_Product_Select]
    @ID INT =0
    AS
    IF(@ID=0)
    BEGIN
        SELECT ID, Name, Alias, CategoryID, Images, CreateDate, Price, Detail, [Status]
        FROM dbo.Product 
    END
    ELSE
    BEGIN
           SELECT ID, Name, Alias, CategoryID, Images, CreateDate, Price, Detail, [Status]
        FROM dbo.Product WHERE ID=@ID
    END
GO
/****** Object:  StoredProcedure [dbo].[PSP_Product_InsertUpdate]    Script Date: 04/19/2021 23:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PSP_Product_InsertUpdate]
    @ID int, @Name NVARCHAR(500), @Alias VARCHAR(500), @CategoryID int, @Images VARCHAR(500), @CreateDate DATETIME, @Price DECIMAL(18,0), @Detail NTEXT
    AS
    IF EXISTS(SELECT 1 FROM dbo.Product WHERE ID=@ID)
    BEGIN
        UPDATE dbo.Product
        SET name=@Name,Alias=@Alias,CategoryID=@CategoryID,Images=@Images, CreateDate=@CreateDate,Price=@Price,Detail=@Detail
      WHERE ID=@ID
    END
    ELSE
    BEGIN
        INSERT INTO Product( Name, Alias, CategoryID, Images, CreateDate, Price, Detail, [Status])
        VALUES( @Name, @Alias, @CategoryID, @Images, @CreateDate, @Price, @Detail, 1)
    END
GO
/****** Object:  StoredProcedure [dbo].[PSP_Product_Delete]    Script Date: 04/19/2021 23:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PSP_Product_Delete]
    @ID INT
    AS
    UPDATE dbo.Product
    SET [Status]=0
    WHERE ID=@ID
GO
/****** Object:  Default [DF_Category_Status]    Script Date: 04/19/2021 23:26:13 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  ForeignKey [FK_Product_Category]    Script Date: 04/19/2021 23:26:13 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
