
@{
    ViewBag.Title = "Hiển thị sinh viên";
}

<h2>Thông tin sinh viên :<b>@ViewBag.student.StudentID</b> </h2>
<ul>
    <li>Tên SV:<b>@ViewBag.student.StudentName</b> </li>
    <li>lớp:<b>@ViewBag.student.ClassName</b></li>
    <li>Địa chỉ: <b>@ViewBag.student.Address</b> </li>
</ul>

