
@{
    ViewBag.Title = "StudentByID";
}

<h2>Thông tin sinh viên :<b>@ViewBag._student.StudentID</b> </h2>
<ul>
    <li>Tên SV:<b>@ViewBag._student.StudentName</b> </li>
    <li>lớp:<b>@ViewBag._student.ClassName</b></li>
    <li>Địa chỉ: <b>@ViewBag._student.Address</b> </li>
</ul>