
@{
    ViewBag.Title = "StudentByID";
}

<h2>StudentByID</h2>

<h2>Students</h2>
<ul>
    Thông tin sinh viên: @ViewBag.Result.StudentID
    <li>Họ và tên: @ViewBag.Result.StudentName</li>
    <li>Lớp: @ViewBag.Result.ClassName</li>
    <li>Địa chỉ: @ViewBag.Result.Address</li>
</ul>