
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>
<ul>Thông tin sinh viên: @ViewBag.student.StudentID
    <li>Họ và tên: @ViewBag.student.StudentName</li>
    <li>Lớp: @ViewBag.student.ClassName</li>
    <li>Địa chỉ: @ViewBag.student.Address</li>
</ul>
