
@{
    ViewBag.Title = "StudentByID";
}

<h2>StudentByID</h2>
<p>Thông tin sinh viên</p>
<ul>
    <li>MSSV: @ViewBag.student1.StudentID</li>
    <li>Họ và tên: @ViewBag.student1.StudentName</li>
    <li>Lớp: @ViewBag.student1.ClassName</li>
    <li>Tuổi: @ViewBag.student1.Age</li>
</ul>

