body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#col25{
    width:25%;
    background-color:cyan;
    float:left;
}
#col75{
    width:75%;
    background-color:#FFFF99;
    float:left;
    height:300px;
}
.clear{
    clear:both;
}

